extends layout
include mixins/createShowForm

block content  
    .recForm
        +createShowForm(show)
    if user && user.nightMode === true
        img.nightMode.sunOut(src="../assets/images/dayNight.png" alt="Sun And Moon") 
    else
        img.nightMode(src="../assets/images/dayNight.png" alt="Sun And Moon") 