extend layout  
include mixins/friendRec
block content
    h2  Your Friends:
    .welcomeContainer
        a(class="buttonStylingYellowBGSquare" href=`/manageShows`) Manage Your Shows
            img.icon(src="../assets/images/tvScreen.png" alt="TV Screen")

        a(class="buttonStylingYellowBGSquare" href=`/displayFriends`) View Friends
            img.icon(src="../assets/images/users.png" alt="Two People")
    .friendsList
        img#nightMode(src="../assets/images/dayNight.png" alt="Sun And Moon") 
        each friend in friendInformation
            .friendProfile
                h2= friend.name   
                img.profilePic(alt="Profile Image")
                a(class="buttonStylingYellowBGSquare" href=`/displayFriend/${friend._id}`) View #{friend.name} Collection



