extend layout  
include mixins/singleFriendInfo
block content
    .friendInfoContainer
        img#nightMode(src="../assets/images/dayNight.png" alt="Sun And Moon") 
        +singleFriendInfo(friendInformation)