extends layout
include mixins/friendRequest
block content
    if user
        .addFriendContainer
            form.friends(method="POST" action=`/api/addFriend`)
                label(for="name") Email
                input(type="name" name="name")  
                button(type="submit" name="addFriend") Search
        .friendRequestContainer
            if user.friendsStorage.pending.length >= 1 
                each friend in user.friendsStorage.pending
                    .friendRequest
                        +friendRequest(friend)
