extends layout
include mixins/friendRequest
block content
    if user
        if user && user.nightMode === true
            img.nightMode.sunOut(src="../assets/images/dayNight.png" alt="Sun And Moon") 
        else
            img.nightMode(src="../assets/images/dayNight.png" alt="Sun And Moon")  
        .addFriendContainer
            form.friends(method="POST" action=`/api/addFriend`)
                label(for="name" class="email") Enter friends email
                input(class= "friendsInput" type="name" name="name" placeholder="Enter Friends Email Address")  
                button(class="buttonStylingYellowBG" type="submit" name="addFriend") Send
        .friendRequestContainer
            if user.friendsStorage.pending.length >= 1 
                each friend in user.friendsStorage.pending
                    .friendRequest
                        +friendRequest(friend)
