extends layout
block header
  header.top  
    .logoContainer                      
      a(class="navLinkButton" href="/") Watchy
block content
  .landingContainer
    .introContainer
      p See your friends TV show recommendations, and what their watching now!
      .navButtonContainer
        a(class="navLinkButton" href="/register") Register Now
      .navButtonContainer
        a(class="navLinkButton" href="/login") Log In
    .acctInfoContainer
      p Don't feel like making an account?
      p Use account name: 123@123.com as username
      p Use 123 as password
