extends layout
block content
  .landing_container
    .landing_content_container
      .name
        h1 What To Watch
      .welcome
        if (!user)
          p Welcome
        else 
          p= user.name