doctype html
html
    head
        title= `${helpers.siteName} | ${helpers.siteName}`
        link(href='/css/style.css' rel='stylesheet', type='text/css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        if user && user.nightMode === true
            body.darken
                block header
                    .responsiveMenu
                        header.top
                            .logoContainer
                                if user
                                    a(class="navLinkButton" href="/userHome") Watchy
                                else
                                    a(class="navLinkButton" href="/") Watchy
                            .navResponsive 
                                .menuButton
                                    button(class="responsiveMenuButton") Close
                        .responsiveMenuContent
                            if user
                                .navButtonContainer    
                                    a(class="navLinkButton" href="/logout") Log Out
                                .navButtonContainer
                                    a(class="navLinkButton" href="/account") Account                 
                            else
                                .navButtonContainer
                                    a(class="navLinkButton" href="/register") Register
                                .navButtonContainer
                                    a(class="navLinkButton" href="/login") Log In  
                    header.top
                        .logoContainer
                            if user
                                a(class="navLinkButton" href="/userHome") Watchy
                            else
                                a(class="navLinkButton" href="/") Watchy
                            .navResponsive 
                                .menuButton
                                    button(class="menuLinkButton") Menu
                        nav.nav
                            .navButtonContainer
                                a(class="navLinkButton" href="/userHome") Home
                            if user
                                .navButtonContainer
                                    a(class="navLinkButton" href="/account") Account    
                                .navButtonContainer    
                                    a(class="navLinkButton" href="/logout") Log Out              
                            else
                                .navButtonContainer
                                    a(class="navLinkButton" href="/register") Register
                                .navButtonContainer
                                    a(class="navLinkButton" href="/login") Log In                  
                block flashes
                block content
                block scripts
                    script(src="../dist/locals-app.bundle.js")
        else 
            body
                block header
                    .responsiveMenu
                        header.top
                            .logoContainer
                                if user
                                    a(class="navLinkButton" href="/userHome") Watchy
                                else
                                    a(class="navLinkButton" href="/") Watchy
                            .navResponsive 
                                .menuButton
                                    button(class="responsiveMenuButton") Close
                        .responsiveMenuContent
                            if user
                                .navButtonContainer    
                                    a(class="navLinkButton" href="/logout") Log Out
                                .navButtonContainer
                                    a(class="navLinkButton" href="/account") Account               
                            else
                                .navButtonContainer
                                    a(class="navLinkButton" href="/register") Register
                                .navButtonContainer
                                    a(class="navLinkButton" href="/login") Log In  
                    header.top
                        .logoContainer
                            if user
                                a(class="navLinkButton" href="/userHome") Watchy
                            else
                                a(class="navLinkButton" href="/") Watchy
                            .navResponsive 
                                .menuButton
                                    button(class="menuLinkButton") Menu
                        nav.nav
                            .navButtonContainer
                                a(class="navLinkButton" href="/userHome") Home
                            if user
                                .navButtonContainer
                                    a(class="navLinkButton" href="/account") Account              
                                .navButtonContainer   
                                    a(class="navLinkButton" href="/logout") Log Out              
 
                            else
                                .navButtonContainer
                                    a(class="navLinkButton" href="/register") Register
                                .navButtonContainer
                                    a(class="navLinkButton" href="/login") Log In                  
                block flashes
                block content   
                block scripts
                    script(src="../dist/locals-app.bundle.js")            

