doctype html
html
  head
    title= Hello
    link(rel='stylesheet', href='../public/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    p hi
block scripts
      script(src="../public/dist/locals-app.bundle.js")