extends layout
block content
    h2= user.name
        .recOptionsLinks
            a(href=`/watchingNow`) Add Shows You are Currently Watching
        .recOptionsLinks
            a(href=`/topPicks`) Add to your Top Picks
        .recOptionsLinks
            a(href=`/showsFinished`) Shows You Have Finished