extends layout
include mixins/showCard
block content
    h2= user.name
        a(href="/createShow") Add to your shows collection   
        .watchingNow
            if watchingNowArr.length < 1
                a(href="/createShow") Add To Watching Now Collection   
            else      
                each show in watchingNowArr
                    +showCard(show)
        .recommendations
            if recommendationsArr.length < 1
                a(href="/createShow") Add To Recommendations Collection   
            else
                each show in recommendationsArr
                    +showCard(show)    
        .mustWatch
            if mustWatchArr.length < 1
                a(href="/createShow") Add To Must Watch Collection   
            else
                each show in mustWatchArr
                    +showCard(show)                                      
