extends layout
include mixins/showCard
block content
    h2= user.name
        .recOptionsLinks
            a(href=`/watchingNow`) Add Shows You are Currently Watching
            .watchingNow
                each show in watchingNowArr
                    +showCard(show)
        .recOptionsLinks
            a(href="/createShow") Add a Recommendation    
            .recommendations
                each show in recommendationsArr
                    +showCard(show)                            
