extends layout
include mixins/showCard
block content
    if showCategory === "watchingNow"
        .showMangementContainer
            h2 What I'm Watching Now
            if showInfo[0].myShows.watchingNow.length >= 1
                each show in showInfo[0].myShows.watchingNow
                    +showCard(show)
    if showCategory === "recommendations"
        .showMangementContainer
            h2 My Recommendations
            if showInfo[0].myShows.recommendations.length >= 1
                each show in showInfo[0].myShows.recommendations
                    +showCard(show)
    if showCategory === "mustWatch"
        .showMangementContainer
            h2 My Must Watch Shows
            if showInfo[0].myShows.mustWatch.length >= 1
                each show in showInfo[0].myShows.mustWatch
                    +showCard(show)
                

