extends layout
include mixins/showCard
block content
    .welcomeContainer
        h2  Hello! #{user.name}
        a(class="buttonStylingYellowBG" href=`/createShow`) Add to your shows collection
        a(class="buttonStylingYellowBG" href="/manageWatchingNow") Manage shows you are watching now  
        a(class="buttonStylingYellowBG" href="/manageRecommendations") Manage show recommendations    
        a(class="buttonStylingYellowBG" href="/manageMustWatch") Manage your must watch shows                                  
