extends layout

block content
    .inner
        .map
            .autocomplete
                input.autocompleteInput(type="text" placeholder="Search for Anything" name="geolocate")
            #map
            