extends layout

include mixins/showCard

block content
    .inner  
        h2= title
        .shows
            each show in shows
                h2= show.name
                +showCard(show)
            
