extends layout

block content
    h2 #{tag || 'Tags'}
    ul.tags    
        each tagOption in tags
            li.tag
            a.tagLink(href=`/tags/${tagOption._id}` class=(tagOption._id === tag ? 'linkActive' : ''))
                span.tagDescription= tagOption._id
                span.tagCount= tagOption.count