extend layout  
include mixins/friendCard
include mixins/friendRec
block content
    -const friends = user.friendsStorage.friends
    .recOptions
    h2= user.name
        .recOptionsLinks
            a(href=`/manageShows`) Manage Your Shows
        if friends.length >=1
            each friend in friends
                .friendContainer
                    +friendCard(friend)
                    +friendRec(friend)
                        
   

        


