extend layout  
include mixins/showCard
block content
    h2 Watching Now
    .watchingNow
        each show in watchingNowArr
            +showCard(show)
    h2 Your Recommendations
    .yourRecommendations
        each show in recommendations
            +showCard(show)
    .recOptions
    h2= user.name
        .recOptionsLinks
            a(href=`/manageShows`) Manage Your Shows
        .recOptionsLinks
            a(href=`/friendsTopPicks`) Friends Top Picks
        .recOptionsLinks
        


