extend layout  
include mixins/friendRec
block content
    -const friendInfo = friendInformation
    .welcomeContainer
        h2  Welcome! #{user.name}
        a(class="buttonStylingYellowBG" href=`/manageShows`) Manage Your Shows
    .recOptions
        .recOptionsLinks
        if friendInfo.length >= 1
            each friend in friendInfo
                .friendContainer
                    +friendRec(friend)
        else 
            h2 Add some friends!
                        
   

        


