extend layout  
block content
    .recOptions
    h2= user.name
        .recOptionsLinks
            a(href=`/manageShows`) Manage Your Shows
        .recOptionsLinks
            a(href=`/friendsTopPicks`) Friends Top Picks
        .recOptionsLinks
            a(href=`/showsFinished`) Shows You Have Finishes


