body {
    margin: 0;
}

/* WEBKIT STUFF   
 display: -webkit-box;
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-align-items: center;
 align-items: center;
 -webkit-flex-direction: column;
 flex-direction: column; */

.containerLanding {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
    /* background-color: #0082ff; */
    background: #ff515b;
    background: -webkit-linear-gradient(45deg,#ff515b 0%,#ff7857 100%);
    background: linear-gradient(45deg,#ff515b 0%,#ff7857 100%);
}

.top {
    width: 100%;
    height: 110px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.logoContainer {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: 5px;
    margin-left: 10px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.nav {
 width: 95%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 15px;
}

.navButtonContainer {
    border: 2px solid white;
    border-radius: 50px;
    font-size: 1.4em;
    padding: 5px;
    margin: 5px;
}

.navResponsive{
    display: none;
}

.menuLinkButton{
    color: white;
    padding: 2px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    border: none;
    background-color: transparent;
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../assets/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

.navLinkButton {
    text-decoration: none;
    color: white;
    padding: 2px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
}

.menuButton{
    color: white;
    padding-right: 3px;
    margin-right: 4px;
    font-family: 'Open Sans', sans-serif;
}

.landingContent{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.responsiveMenu{
    height: 100vh;
    width: 100%;
    background-color: #0082ff;
    color: white;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: none;
}

.responsiveMenuContent{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.responsiveMenuButton{
    color: white;
    padding: 2px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    border: none;
    background-color: transparent;
}

.acctInfoContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.introContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
}

.recOptions {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid brown;
}

.recOptionsLinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.showForm {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: gray;
}

.show {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-size: cover;
    color: white;
}

.showPoster {
    width: 300px;
    height: 400px;
    background-size: cover;
}

.searchResult {
    display: block;
}





@media only screen and (max-width: 590px) {
    .navResponsive {
        width: 95%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
}