mixin gatheringForm(gathering = {})
    form(action=`/createGathering/${gathering._id || ''}` method="POST" class="gatheringForm")
        label(for="name") Name
        input(type="text" name="name" value=gathering.name)
        label(for="description") Description
        textarea(name="description")= gathering.description
        //- Location
        label(for="address") Address
        //- body parser url encoded allows for sending nested data
        input(type="text" id="address" name="location[address]" value=(gathering.location && gathering.location.address)) 
        label(for="date") Date
        input(type="text" name="date" value=gathering.date)
        input(type="submit" value="Save" class="button")