mixin createShowForm(show = {})
    h2.textCenter Search For Shows
    form.showForm(class= "formStyling" autocomplete = "off" action="/createShow" method="POST"  type="text")
        .search
                input(class= "formInputStyling" type="text" name="name" placeholder= "Search for a show")
        .searchResults    
