mixin forgotPasswordForm()
    form.form(action="/account/forgotPassword" method="POST")
        h2 Forgot your password?
        label(for="email") Email
        input(type="email" name="email")
        input.button(class="buttonStyling" type="submit" value="Send a Reset")