mixin friendRequest(friend = {})
    div
        .friendRequest
            h2 Friend Request From : #{friend.name}
            form.acceptFriend(method="POST" action=`/api/acceptFriendRequest/${friend._id}`) 
                button(class="buttonStylingYellowBG" type="submit" name="acceptFriend") Accept
            form.denyFriend(method="POST" action=`/api/denyFriendRequest/${friend._id}`) 
                button(class="buttonStylingYellowBG" type="submit" name="denyFriend") Deny
